@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #4f46e5; /* Indigo 600 */
    --color-primary-light: #eef2ff; /* Indigo 50 */
    --color-accent: #f59e0b; /* Amber 500 */
    --color-accent-light: #fffbeb; /* Amber 50 */
  }

  body {
    background-color: #f8fafc; /* Slate 50 */
    color: #0f172a; /* Slate 900 */
    line-height: 1.6;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
