@import "tailwindcss";

@layer base {
  :root {
    --color-primary: #2563eb;
    --color-primary-light: #dbeafe;
    --color-accent: #f59e0b;
  }

  body {
    background-color: #f0f4ff;
    color: #1e293b;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
